// Переменные для миксина контейнера
$breakpoint-to-fluid: 992px;
$base-vw: 1920px;

$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$container-lg: 1650px;
$container-md: 720px;
$container-sm: 540px;

$p: 15px;