@import 'mixins';
@import 'fonts';
@import 'variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

input,
button {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  @include fluid(font-size, 16px, 19px);
  line-height: 1.4;
  color: #17171D;
  background-color: #F1EDF1;
  transition: padding .38s ease-in-out;

  &.no-scroll {
    transition: padding .38s ease-in-out;
    overflow-y: hidden;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  @include container;
}

h1,
h2,
.title {
  font-weight: 700;
  @include fluid(font-size, 28px, 54px);
  line-height: 1.3;
  color: #000000;
  @include fluid(margin-bottom, 25px, 50px);

  &--white {
    color: #fff;
  }

}

h3 {
  &.title {
    @include fluid(font-size, 24px, 44px);
  }
}

.btn {
  display: block;
  width: fit-content;
  font-weight: 900;
  @include fluid(font-size, 14px, 18px);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  @include fluid(padding-top, 15px, 30px);
  @include fluid(padding-bottom, 15px, 30px);
  @include fluid(padding-left, 20px, 40px);
  @include fluid(padding-right, 20px, 40px);
  background-color: #4B0082;
  transition: background-color .38s ease-in-out,
    color .38s ease-in-out;

  &:hover {
    color: #4B0082;
    background-color: #FFFFFF;

    &::after {
      border-color: #4B0082;
    }
  }

  &--border {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: -12%;
      right: -4%;
      width: 97%;
      height: 91%;
      border: 1px solid #787878;
      z-index: -1;
      transition: border .38s ease-in-out;
    }

    &:hover {
      &::after {
        border-color: #4B0082;
      }
    }
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include fluid(gap, 10px, 14px);

  &__img {
    object-fit: contain;
    @include fluid(height, 50px, 70px);
  }

  &__text {
    position: relative;
    @include fluid(font-size, 12px, 14px);
    @include fluid(padding-left, 10px, 13px);
    @include fluid(padding-right, 10px, 13px);
    letter-spacing: 4px;
    color: #FFFFFF;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 3px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      border-radius: 50%;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }
}

.bg {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 47%;
    left: 0;
    width: 100%;
    @include fluid(height, 80px, 161px);
    transform: translateY(-50%);
    background-image: url("../images/top/digital.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    opacity: .3;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    // height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
  }
}

.header {
  position: relative;
  @include fluid(padding-top, 10px, 13px);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    align-items: center;
    @include fluid(gap, 24px, 64px);
  }

  &__grid {
    &.contact {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include fluid(column-gap, 30px, 97px);
      align-items: flex-start;

      &__link {
        @include fluid(padding-top, 0px, 5px);
      }
    }
  }
}

.burger {
  position: relative;
  display: block;
  width: 30px;
  height: 20.5px;
  cursor: pointer;
  z-index: 5;

  &__line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.34);
    transition: all 0.38s;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.34);
    transition: all 0.38s;
    border-radius: 25px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active {

    &::before {
      background-color: #fff;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }

    &::after {
      background-color: #fff;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    .burger__line {
      transform: scale(0);
    }
  }
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  @include fluid(gap, 15px, 55px);
  z-index: 5;

  &__item {
    position: relative;

    &-link {
      @include fluid(font-size, 12px, 14px);
      color: #fff;
      transition: color .38s ease-in-out;

      &:hover {

        +.dropdown__list {
          opacity: 1;
          visibility: visible;
        }
      }

      +.dropdown__list {
        .dropdown__list-link {
          &:hover {
            +.dropdown__list {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }


  ol.dropdown__list {
    @include fluid(padding-left, 30px, 40px);
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    @include fluid(padding, 15px, 20px);
    @include fluid(padding-top, 15px, 20px);
    @include fluid(padding-bottom, 15px, 20px);
    @include fluid(padding-left, 15px, 20px);
    @include fluid(padding-right, 15px, 20px);
    transition: opacity .38s ease-in-out, visibility .38s ease-in-out;

    &:hover {
      opacity: 1;
      visibility: visible;
    }

    &-item {
      position: relative;

      &::marker {
        @include fluid(font-size, 12px, 14px);
      }

      &:hover {

        &::marker {
          font-weight: 700
        }
      }
    }

    &-link {
      position: relative;
      display: block;
      @include fluid(font-size, 12px, 14px);
      color: #17171D;
      white-space: nowrap;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        font-weight: 700;
      }

      +.dropdown__list {
        position: absolute;
        top: 0;
        left: 110%;
        height: auto;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // transform: translateY(-200%);
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: transform .38s ease-in-out, opacity .38s ease-in-out, visibility .38s ease-in-out, z-index .38s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 6;
    // transform: translateY(0%);
    transition: transform .38s ease-in-out, opacity .38s ease-in-out,
      visibility .38s ease-in-out,
      z-index .38s ease-in-out;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    @include fluid(padding-top, 15px, 25px);
    @include fluid(padding-bottom, 15px, 25px);

    &:first-child {
      @include fluid(margin-bottom, 25px, 130px);
    }

    &-link {
      width: 100%;
      display: block;
      text-align: center;
      @include fluid(font-size, 20px, 24px);
      color: #17171D;
      font-weight: 700;
      transition: color .38s ease-in-out;

      &:hover {
        color: #4B0082;
      }
    }

    &-close {
      font-weight: 700;
      @include fluid(font-size, 20px, 24px);
      cursor: pointer;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    @include fluid(gap, 5px, 9px);
    color: #8E8C8C;
    transition: color .38s ease-in-out;

    &-icon {
      font-size: 17px;
    }

    &:hover {
      color: #fff;
    }
  }

  &__phone {
    @include fluid(font-size, 18px, 24px);
    font-weight: 700;
    color: #fff;
  }

  &__mail {
    letter-spacing: .43px;
  }

  &__block {
    display: flex;
    align-items: center;
    @include fluid(gap, 10px, 12px);
  }

  &__icon {
    position: relative;
    @include fluid(padding, 12px, 13px);
    color: #fff;
    font-size: 15px;

    &.icon-tg {
      @include fluid(padding-left, 10px, 11px);
    }

    &::after {
      content: '';
      position: absolute;
      width: 43px;
      height: 43px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid rgba(217, 217, 217, .3);
      border-radius: 50%;
      transition: border .38s ease-in-out;
    }

    &:hover {
      &::after {
        border-color: #fff;
      }
    }

    &.icon-wa {
      font-size: 23px;
    }
  }
}

.top {
  @include fluid(padding-top, 40px, 75px);

  &__inner {
    display: grid;
    grid-template-columns: .853fr 1.147fr;
  }

  &__item {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      @include fluid(right, -65px, -132px);
      bottom: -40px;
      @include fluid(width, 200px, 388px);
      @include fluid(height, 200px, 388px);
      background-image: url('../images/top/cubes.png');
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }

    &-title {
      @include fluid(margin-bottom, 150px, 269px);
      // @include fluid(margin-bottom, 45px, 84px);
      // @include fluid(margin-left, 0px, -8px);
      font-weight: 700;
      @include fluid(font-size, 45px, 90px);
      line-height: 1.25;
      letter-spacing: .5px;
      color: #5E5E5E;
    }
  }

  &__info {
    position: relative;

    &-block {
      position: relative;
      @include fluid(padding-bottom, 120px, 179px);

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        @include fluid(height, 60px, 120px);
        bottom: -1px;
        @include fluid(left, 16px, 38px);
        background-image: url("../images/top/agency.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 20px, 41px);
      max-width: 492px;
      @include fluid(max-width, 400px, 492px);
      @include fluid(margin-bottom, 30px, 61px);
    }

    &-text {
      position: relative;
      margin-left: auto;
      @include fluid(font-size, 20px, 24px);
      color: #FFFFFF;
      padding-left: 8px;
      padding-right: 84px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        background-image: url("../images/icons/corner.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 74px;
        height: 1px;
        background-color: rgb(57, 58, 55, );
      }

      &:nth-child(2) {
        margin-right: 37px;
        padding-right: 66px;
      }

      &:last-child {
        margin-right: 100px;
        padding-right: 66px;
      }
    }

    &-img {
      position: absolute;
      width: 64%;
      top: -183px;
      right: 0;
      object-fit: contain;
      @include fluid(height, 500px, 682px);
      z-index: -2;
    }

    &-who {
      position: relative;
      @include fluid(margin-left, 50px, 125px);
      max-width: 299px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      @include fluid(padding-top, 10px, 12px);
      @include fluid(padding-bottom, 10px, 12px);
      @include fluid(padding-left, 30px, 49px);
      @include fluid(padding-right, 30px, 49px);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: skewX(-27deg);
        z-index: -1;
      }
    }

    &-name {
      @include fluid(font-size, 16px, 19px);
      color: #000000;
    }

    &-job {
      text-align: right;
      font-size: 13px;
      color: #706F6F;
    }
  }

  &__quote {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 15px, 32px);
    @include fluid(padding-top, 25px, 48px);
    @include fluid(padding-bottom, 25px, 48px);
    @include fluid(padding-right, 25px, 37px);
    @include fluid(padding-left, 25px, 50px);
    background-color: #fff;
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.08);
    margin-bottom: -50px;

    &-text {
      position: relative;
      max-width: 800px;
      @include fluid(padding-left, 25px, 50px);
      @include fluid(font-size, 18px, 24px);

      span {
        font-weight: 700;
        color: #4B0082
      }
    }

    &-mark {
      position: absolute;
      top: -20px;
      left: 0;
      line-height: 1;
      @include fluid(font-size, 45px, 92px);
      color: #4B0082;
    }
  }
}

.market {
  overflow-x: hidden;
  @include fluid(padding-top, 50px, 95px);
  @include fluid(margin-bottom, 50px, 98px);

  &__title {
    @include fluid(margin-bottom, 25px, 49px);
  }

  &__swiper {
    overflow: visible;
    @include fluid(padding-left, 20px, 40px);
  }

  &__slide {
    border: 1px solid #d9d9d9;
    @include fluid(padding-top, 33px, 65px);
    @include fluid(padding-bottom, 33px, 65px);
    @include fluid(padding-left, 35px, 65px);
    @include fluid(padding-right, 35px, 65px);
  }

  &__img {
    height: 48px;
  }
}

.last {
  &__inner {
    position: relative;
    @include fluid(padding-top, 35px, 62px);
    @include fluid(padding-bottom, 35px, 66px);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -54px;
      width: 41%;
      height: 100%;
      background-color: #17171d;
      z-index: -1;
    }
  }

  &__title {
    max-width: 386px;
    @include fluid(margin-bottom, 50px, 105px);
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(330px, 480px) minmax(330px, 517px) minmax(300px, 527px);

    &:not(:nth-last-child(2)) {
      @include fluid(margin-bottom, 40px, 75px);
    }

    &-block {
      display: flex;
      flex-direction: column;

      &:first-child {
        @include fluid(margin-right, 20px, 40px);
      }
    }

    &-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      @include fluid(margin-bottom, 10px, 19px);
    }

    &-what {
      font-weight: 900;
      @include fluid(font-size, 20px, 23px);
      color: #fff;
      white-space: nowrap;
    }

    &-time {
      letter-spacing: 3px;
      color: #898989;
      @include fluid(margin-right, 0px, 16px);
    }

    &-type {
      margin-bottom: 10px;
      font-weight: 700;
      @include fluid(font-size, 16px, 18px);
      line-height: 1.5;
      color: #fff;

      span {
        color: #CACACA;
      }
    }

    &-timeDev {
      margin-bottom: 10px;
      color: #CACACA;

      span {
        font-weight: 700;
      }
    }

    &-price {
      font-weight: 700;
      @include fluid(font-size, 24px, 38px);
      line-height: 1.5;
      color: #fff;
    }

    &-item {
      position: relative;
      @include fluid(margin-right, 20px, 80px);
      @include fluid(height, 250px, 280px);
    }

    &-img {
      object-fit: cover;
    }

    &-btn {
      position: absolute;
      @include fluid(right, -10px, -15px);
      bottom: 0;

      &:hover {
        // background-color: #17171D;
        // color: #fff;
        background-color: #fff;
        color: #4B0082;
      }
    }

    &-title {
      @include fluid(margin-bottom, 10px, 20px);
      font-weight: 700;
      @include fluid(font-size, 24px, 40px);
      line-height: 1.25;
      color: #4B0082;
    }

    &-text {

      &:not(:last-child) {
        @include fluid(margin-bottom, 15px, 29px);
      }

      span {
        font-weight: 700;
        color: #17171D
      }
    }

    &-link {
      color: #17171D;
      text-decoration: underline;
      width: fit-content;
    }
  }

  &__btn {
    width: 100%;
    max-width: 263px;
    border: 2px solid #fff;
    color: #fff;
    background-color: #17171D;
    @include fluid(margin-left, 100px, 192px);
    margin-top: 9px;
    @include fluid(padding-top, 15px, 27px);
    @include fluid(padding-bottom, 15px, 27px);
  }
}

.offer {
  @include fluid(margin-bottom, 30px, 46px);
  @include fluid(margin-top, -35px, -70px);

  &__container {
    max-width: 1746px;
  }

  &__inner {
    display: grid;
    grid-template-columns: .93fr 1.07fr;
    align-items: center;
    @include fluid(gap, 40px, 57px);
  }

  &__form {
    position: relative;
    @include fluid(padding-top, 55px, 112px);
    @include fluid(padding-bottom, 55px, 109px);
    @include fluid(margin-top, 15px, 33px);

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      right: -6.5%;
      background-color: #B0AEAE;
    }

    &::after {
      bottom: 0;
    }

    &::before {
      top: 0;
    }

    &-text {
      max-width: 555px;
      font-weight: 700;
      @include fluid(font-size, 20px, 24px);
      line-height: 1.25;
      color: #17171D;
      @include fluid(margin-bottom, 20px, 34px);
    }

    &-box {
      display: flex;
      align-items: center;
    }

    &-input {
      width: 61.5%;
      background-color: #D9D9D9;
      border: none;
      outline: none;
      @include fluid(padding-top, 15px, 31px);
      @include fluid(padding-bottom, 15px, 27px);
      @include fluid(padding-left, 15px, 30px);

      &::placeholder {
        @include fluid(font-size, 18px, 20px);
        color: #8C8484;
      }
    }

    &-btn {
      width: 34%;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: left;
    }
  }

  &__img {
    @include fluid(height, 500px, 750px);
    object-fit: contain;
  }
}

.info {
  @include fluid(margin-bottom, 45px, 90px);

  &__inner {
    display: grid;
    grid-template-columns: .81fr 1.19fr;
    @include fluid(gap, 30px, 70px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 30px, 60px);
    @include fluid(padding-top, 40px, 65px);

    &-box {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 15px, 22px);
    }

    &-text {
      font-weight: 700;
      @include fluid(font-size, 20px, 24px);
      line-height: 1.25;
    }

    &-num {
      font-weight: 700;
      @include fluid(font-size, 45px, 94px);
      line-height: 1.23;
    }
  }

  &__img {
    object-fit: contain;
    @include fluid(height, 480px, 570px);
  }
}

.task {
  @include fluid(padding-top, 40px, 85px);
  @include fluid(margin-bottom, 50px, 100px);

  &__inner {
    display: grid;
    grid-template-columns: .74fr 1.23fr;
    align-items: center;
    @include fluid(gap, 35px, 70px);
  }

  &__title {
    font-weight: 700;
    @include fluid(font-size, 24px, 36px);
    border-right: 1px solid #B0AEAE;
    @include fluid(padding-top, 10px, 15px);
    @include fluid(padding-bottom, 10px, 15px);
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    @include fluid(column-gap, 25px, 50px);
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-self: center;
    @include fluid(gap, 20px, 35px);

    &-text {
      @include fluid(font-size, 16px, 18px);
      color: #000000;
      text-align: center;
    }

    // &:first-child {
    //   grid-column: 1/3;
    // }

    // &:nth-child(2) {
    //   grid-column: 3/5;
    // }

    // &:last-child {
    //   grid-column: 5/7;
    // }
  }

  &__img {
    object-fit: contain;
    @include fluid(height, 60px, 82px);
  }
}

.articles {
  @include fluid(padding-top, 45px, 83px);
  @include fluid(margin-bottom, 60px, 125px);

  &__title {
    @include fluid(margin-left, 0px, -10px);
    @include fluid(margin-bottom, 25px, 53px);
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include fluid(column-gap, 110px, 215px);
    @include fluid(row-gap, 25px, 49px);
  }

  &__item {
    position: relative;
    @include fluid(padding-top, 20px, 40px);
    @include fluid(padding-bottom, 40px, 78px);
    @include fluid(padding-left, 25px, 47px);
    @include fluid(padding-right, 25px, 63px);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      @include fluid(left, 0px, -3px);
      width: 50%;
      height: 100%;
      background-color: #17171D;
      z-index: -1;
    }

    &-time {
      display: block;
      color: #898989;
      @include fluid(margin-bottom, 10px, 14px);
      letter-spacing: 3px;
    }

    &-box {
      background-color: #fff;
      @include fluid(padding-top, 30px, 62px);
      @include fluid(padding-bottom, 25px, 61px);
      @include fluid(padding-left, 20px, 42px);
      @include fluid(padding-right, 20px, 42px);
    }

    &-title {
      font-weight: 700;
      @include fluid(font-size, 20px, 24px);
      @include fluid(margin-bottom, 10px, 15px);
      color: #000;
    }

    &-text {
      line-height: 1.5;
      color: #17171D;
      @include fluid(margin-bottom, 15px, 26px);
    }

    &-link {
      position: relative;
      font-weight: 700;
      line-height: 1.5;
      color: #4B0082;
      padding-bottom: 5px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #4B0082;
        height: 2px;
        width: 0;
        border-radius: 25px;
        transition: width .38s ease-in-out;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

.footer {
  position: relative;
  background-color: #17171D;
  @include fluid(padding-top, 20px, 32px);

  .logo {
    &__text {
      letter-spacing: 5px;

      &::after,
      &::before {
        width: 5px;
        height: 5px;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    @include fluid(padding-bottom, 30px, 48px);
    border-bottom: 1px solid #3E3E3E;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include fluid(column-gap, 35px, 67px);
    @include fluid(padding-top, 0px, 5px);
    @include fluid(row-gap, 0px, 5px);

    &-link {
      position: relative;
      width: fit-content;
      color: #fff;
      @include fluid(font-size, 16px, 18px);

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background-color: #fff;
        transition: width .38s ease-in-out;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    @include fluid(padding-top, 15px, 18px);
    @include fluid(margin-bottom, 10px, 11px);

    &-link,
    &-copy,
    &-text {
      display: block;
      @include fluid(font-size, 12px, 14px);
      text-decoration-line: underline;
      color: #737373;
      transition: color .38s ease-in-out;
    }

    &-link {
      &:hover {
        color: #fff;
      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      text-align: right;
    }
  }
}

.pulse {
  position: relative;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #9B9B9B;

  &__item {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border: 10px solid #9B9B9B;
      box-shadow: 0 0 5px #9b9b9b;
      left: -10px;
      right: -10px;
      top: -10px;
      bottom: -10px;
      border-radius: 50%;
      animation: pulse 1.3s linear infinite;
      opacity: 0;
      z-index: -1;
    }

    &::after {
      animation-delay: .65s;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(6.5);
    opacity: 0;
  }
}


@import 'media';